<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--
        <link href="/media/css/base.mx.css" media="all" rel="stylesheet" type="text/css" />
        -->

        <link href="/media/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />

        <link href="/media/css/home.css" media="all" rel="stylesheet" type="text/css" />

        <title>Docky - Document Lovingly ~</title>
    </head>
    <body>

        <div id="topbar" class="">
            <div class="content lightgradient">
                <div class="header">
                    <h4>Docky</h4>
                </div>
                <ul class="pagenav">
                    <li>
                        <a href="#">projects</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#about">resources</a>
                        <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#contact">#</a>
                        <span class="divider">/</span>
                    </li>
                </ul>
                <ul class="usernav">
                    <li>
                    	<a href="#">reorx</a>
                        <ul>
                            <li>
                            	<a href="#">logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="manual_border"></div>
        </div>


        <div id="sidebar">
            <div class="content lightgradient">
                <ul class="index">
                </ul>

                <div class="acts">
                </div>

            </div>
        </div>

        <div id="main">
            <div class="content">
                <div class="page-header">
                    <h2>Content</h2>
                    <div class="acts">
                    </div>
                </div>
                <div class="row">
                    <div class="spanMax"></div>
                </div>
            </div>


            <!--
            <div class="footer">
                <p> <em>reorx ∞ docky</em> </p>
            </div>
            -->
        </div>


        <div id="notify"></div>

        <script src="/media/js/jquery.mx.js"></script>
        <link href="/media/css/jquery.mx.js.css" media="all" rel="stylesheet" type="text/css" />

        <script src="/media/js/sammy.plugins.js"></script>

        <script src="/media/js/home.js"></script>

    </body>
</html>
