<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--
  <link href="/media/css/base.mx.css" media="all" rel="stylesheet" type="text/css" />
  -->

  <link href="/media/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />

  <link href="/media/css/home.css" media="all" rel="stylesheet" type="text/css" />

  <title>Docky - Document Lovingly ~</title>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">

          <ul class="nav">
            <li ><a href="#">projects</a></li>
            <li><a href="#about">resources</a></li>
            <li><a href="#contact">#</a></li>
          </ul>

        </div>
      </div>
    </div>

  <div class="container-fluid">

    <div class="sidebar">
      <div class="well">
        <h2></h2>
        <ul>
        </ul>

        <div class="">
          <a href="#" class="btn">back</a>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="row">
      </div>


      <div class="footer">
        <p>
          <em>reorx ∞ docky</em>
        </p>
      </div>
    </div>

  </div>

  <div id="notify"></div>

  <script src="/media/js/jquery.mx.js"></script>
  <link href="/media/css/jquery.mx.js.css" media="all" rel="stylesheet" type="text/css" />

  <script src="/media/js/sammy.plugins.js"></script>

  <script src="/media/js/home.js"></script>
</body>
</html>
