<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet/less" href="/static/less/style.less">
  <script src="/static/js/less-1.1.4.min.js"></script>
  {% block head %}
  <title>Docky</title>
  {% end %}
</head>
<body>
  <div class="container-fluid">
    <div class="sidebar">
      {% block sidebar %}
      {% end %}
    </div>
    <div class="content">
      {% block content %}
      {% end %}
      <div class="footer">
        <em>Made by Nodemix with Tornado</em>
      </div>
    </div>
  </div>
  <div id="popNoti"></div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/base.js"></script>
  <script src="/static/js/prettify.js"></script>
  <script src="/static/js/jquery.json.js"></script>
  <script src="/static/js/jquery.tmpl.js"></script>
  <script src="/static/js/jquery.elastic.js"></script>
  {% block script %}
  {% end %}
</body>
</html>
